<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='stylesheets/style.css') }}">
  </head>
  <body>
    <div id = "top-bar">
      <div id = "color-top">
      </div>
      <div id = "logo">
        <h1>mypast.es</h1>
      </div>
    </div>

    <div id = "wrapper">
      <form method='post' class = "paste-input">
        <div class = "form-line">
          <input type='submit' class = "cupid-green">
          <span><input id='input' name='paste' type='text' autofocus></span>
        </div>
      </form>
      <ul id='pastes'>
        {% for paste in pastes %}
        <li class='paste'>{{ paste.decode('ascii', 'ignore') }}</li>
        {% endfor %}
      </ul>
    </div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js'></script>
    <script type='text/javascript' src="{{ url_for('static', filename='scripts/auto.js') }}"></script>
  </body>
</html>
